
.container {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
  max-width: 800px;
  margin: 0 auto 40px;

  h2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  p {
    font-size: 14px;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
justify-content: center;
align-items: center;
width: 80%;
}
.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #000;
  height: 200px; // Bütün kartlar eyni hündürlükdə olacaq

  &:hover {
    transform: scale(1.03);
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; // Videonun içindəki görüntü kəsilmədən tam dolur
    display: block;
  }
  .overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
}

}
}
@media screen and (min-width:300px) and (max-width:576px) {
  .container {
  padding: 60px 20px;
  
  .header {
  max-width: 800px;
  margin: 0 auto 40px;
text-align: center;
  h2 {
    font-size: 23px;
  }

  p {
    font-size: 12px;
  }
}
.grid {
  
width: 80%;
}
.card {
  
  height: 200px; // Bütün kartlar eyni hündürlükdə olacaq



  video {
    width: 100%;
    height: 100%;
  
  }

}
}
}

@media screen and (min-width:576px) and (max-width:768px) {
  .container {
  padding: 60px 20px;
  
  .header {
  max-width: 500px;
  margin: 0 auto 40px;
text-align: center;
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}
.grid {
  
width: 80%;
}
.card {
  
  height: 200px; // Bütün kartlar eyni hündürlükdə olacaq



  video {
    width: 100%;
    height: 100%;
  
  }

}
}
}

@media screen and (min-width:768px) and (max-width:992px) {
  .container {
  padding: 60px 20px;
  
  .header {
  max-width: 600px;
  margin: 0 auto 40px;
text-align: center;
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}
.grid {
  
width: 80%;
}
.card {
  
  height: 200px; // Bütün kartlar eyni hündürlükdə olacaq



  video {
    width: 100%;
    height: 100%;
  
  }

}
}
}

@media screen and (min-width:992px) and (max-width:1024px) {
  .container {
  padding: 60px 20px;
  
  .header {
  max-width: 800px;
  margin: 0 auto 40px;
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}
.grid {
  
width: 80%;
}
.card {
  
  height: 200px; // Bütün kartlar eyni hündürlükdə olacaq



  video {
    width: 100%;
    height: 100%;
  
  }

}
}
}