.container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .image{
        width: 40%;
        img{
            max-width: 100%;
              border-radius: 20px;
        }
    }
    .text{
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        h2{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 29px;
        }
        span{
            font-size: 16px;
            color: gray;
            line-height: 19px;
        }
        button{
            padding: 8px;
            border: none;
            border-radius: 20px;
            background-color: red;
            color: white;
            width: 25%;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            cursor: pointer;
            &:hover{
               background-color: rgb(181, 25, 25);
            }
        }
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
   .container{
    width: 100%;
  height: auto;
  flex-wrap: wrap;
    gap: 12px;

    .image{
        width: 70%;
      
        img{
            max-width: 100%;
        }
    }
    .text{
        width: 70%;
        h2{
            font-size: 18px;
        }
        span{
            font-size: 14px;
        }
        button{
            width: 50%;
        }
    }
}
 
}

@media screen and (min-width:576px) and (max-width:768px) {
   .container{
    width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 12px;
    .image{
        width: 60%;
      
        img{
            max-width: 100%;
        }
    }
    .text{
        width: 60%;
        h2{
            font-size: 18px;
        }
        span{
            font-size: 14px;
        }
        button{
            width:30%;
        }
    }
}
 
}

@media screen and (min-width:768px) and (max-width:992px) {
   .container{
    width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 12px;
    .image{
        width: 40%;
      
        img{
            max-width: 100%;
        }
    }
    .text{
        width: 40%;
        h2{
            font-size: 18px;
        }
        span{
            font-size: 14px;
        }
        button{
            width:40%;
        }
    }
}
 
}

@media screen and (min-width:992px) and (max-width:1024px) {
   .container{
    width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 12px;
    .image{
        width: 40%;
      
        img{
            max-width: 100%;
        }
    }
    .text{
        width: 40%;
        h2{
            font-size: 18px;
        }
        span{
            font-size: 14px;
        }
        button{
            width:40%;
        }
    }
}
 
}