.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8d7da; // açıq qırmızı ton
  color: #721c24; // tünd qırmızı
  text-align: center;

  h1 {
    font-size: 4rem;
    margin-bottom: 30px;
  }

  button {
    padding: 12px 24px;
    margin: 10px;
    background-color: #721c24; // tünd qırmızı
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #a94442; // açıq tünd qırmızı (hover effekti)
    }
  }
}
